@import "../variable/variable";
/*service part start*/ 
#service{ 
    padding: 80px 0 110px 0;
    .ser_item{ 
        position: relative;
        &::after{
            position: absolute;
            transition: all linear 0.2s;
            left: 50%;
            bottom: -17%;
            content: '';
            height: 3px;
            width: 70px;
            background: #f1eee9;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
}
       &:hover::after{ 
           background-color: #c7b299;
       }
        &:hover i, 
        &:hover h3 
        { 
            color: #c7b299;
        }
      
        i{
            font-size: 38px;
            color: #555555;
            transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
}
        h3{
            color: #555555;
            font-family: $font_rel;
            font-weight: 600;
            font-size: 22px;
            transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
            padding: 28px 0 10px 0;
}
        p{ 
            color: #8c8c8c;
            font-family: $font_rel;
            font-weight: 300;
            font-size: 14px;
            line-height: 26px;
        }
    }
    
}