/*sponser part start*/ 
#sponser{ 
    padding: 135px 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    z-index: 1;
    &::after{ 
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        background: rgba(0,0,0,0.5);
        z-index: -1;
    }
}
/*sponser part end*/