/*common css start*/ 
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{ 
    list-style-type: none;
}
a{ 
    text-decoration: none;
}
img{ 
    vertical-align: middle;
}
/*common tag end*/